<a href="https://colab.research.google.com/github/chaitali9977/Machine-learning-case-studies/blob/main/decision_tree_case_study.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import numpy as np
import pandas as pd

In [10]:
data=pd.read_csv('/content/BankNoteAuthentication.csv')

In [11]:
data.head()

   variance  skewness  curtosis  entropy  class
0   3.62160    8.6661   -2.8073 -0.44699      0
1   4.54590    8.1674   -2.4586 -1.46210      0
2   3.86600   -2.6383    1.9242  0.10645      0
3   3.45660    9.5228   -4.0112 -3.59440      0
4   0.32924   -4.4552    4.5718 -0.98880      0

In [16]:
X=data.drop(['class'],axis=1)
y=data['class']

In [18]:
X.head()

   variance  skewness  curtosis  entropy
0   3.62160    8.6661   -2.8073 -0.44699
1   4.54590    8.1674   -2.4586 -1.46210
2   3.86600   -2.6383    1.9242  0.10645
3   3.45660    9.5228   -4.0112 -3.59440
4   0.32924   -4.4552    4.5718 -0.98880

In [19]:
y.head() # 0 MEANS YOU HAVE FAKE NOTES AND 1 MEANS YOU HAVE PROPER NOTES

0    0
1    0
2    0
3    0
4    0
Name: class, dtype: int64

In [20]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3)

In [21]:
from sklearn.tree import DecisionTreeClassifier
tree_classifier=DecisionTreeClassifier()

In [22]:
tree_classifier.fit(X_train,y_train)

DecisionTreeClassifier()

In [24]:
predictions=tree_classifier.predict(X_test)

In [25]:
from sklearn.metrics import accuracy_score,confusion_matrix
cm=confusion_matrix(y_test,predictions)
ac=accuracy_score(y_test,predictions)

In [26]:
print(cm)

[[228   3]
 [  1 180]]

In [27]:
print(ac)

0.9902912621359223